{% extends 'base.html' %}
{% block content %}

<div class="col-lg-12">
	<h2>Storages</h2>
	<a href="{% url 'task:create'%}""><span class="glyphicon glyphicon-plus"></span>New Task</a>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Task Name</th>
					<th>Task Status</th>
					<th>Mode</th>
					<th>Is Selected</th>	
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			{% for task in tasks %}
				<tr>
					<td>{{ task.pk }}</td>
					<td>{{ task.name }}</td>
					<td>{{ task.status_name }}</td>
					<td>{{ task.mode_name }}</td>
					<td>
					{% if task.is_selected %}
						<div class="btn btn-default">
							<span class="glyphicon glyphicon-ok"></span>
						</div>
					{% else %}
						<form method="post" action="{% url 'task:select' task.pk %}">
							{% csrf_token %}
							<button class="btn btn-default" type="submit">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</form>
					{% endif %}
					</td>
					<td style="display: flex;">
						<a class="btn btn-default" href="{% url 'task:update' task.pk %}">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<form method="post" action="{% url 'task:delete' task.pk %}" >
							{% csrf_token %}
							<button class="btn btn-danger" type="submit">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</form>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>



{% endblock content %}