{% extends 'base.html' %}
{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2>Edit Task {{ task.name }}</h2>
		<form method="post" action="{% url 'task:update' pk=task.pk %}">
			{% csrf_token %}
			{{ form.as_p }}
			<button class="btn btn-primary" type="submit">Save</button>
		</form>
	</div>
</div>


{% endblock content %}