{% extends 'base.html' %}
{% block content %}

<div class="row">
	<div class="col-lg-12">
		<h2>Storages</h2>
		<a href="{% url 'storage:create'%}""><span class="glyphicon glyphicon-plus"></span>New Storage</a>
	</div>
	
	<div class="container">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>Storage Name</th>
					
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			{% for storage in storages %}
				<tr>
					<td>{{ storage.pk }}</td>
					<td><a href="{% url 'storage:show' storage.pk '' %}" class="btn">{{ storage.name }}</a></td>
					
					<td style="display: flex;">
						<a class="btn btn-default" href="{% url 'storage:update' storage.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
						<form method="post" action="{% url 'storage:delete' storage.pk %}" >
						{% csrf_token %}
						<button class="btn btn-danger" type="submit">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</form>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	
	</div>	
</div>

{% endblock content %}