{% extends 'base.html' %}
{% block content %}
<div class="row">
	<div class="col-lg-12">
		<form method="post" action="{% url 'storage:create' %}">
			{% csrf_token %}
			{{ form.as_p }}
			<button class="btn btn-primary" type="submit">Create</button>
		</form>
	</div>
</div>
{% endblock content %}