{% extends 'base.html' %}
{% block content %}
<div class="container">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Item Name</th>
				<th>Type</th>
				<th>Size</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
		{% for file in files %}
			<tr>
				<td>
				{% if file.0.type == 'directory' %}
					<a href="{% url 'storage:show' pk file.1 %}">{{ file.0.name }}</a>
				{% else %}
					{{ file.0.name  }}
				{% endif %}	
				</td>
				<td>{{ file.0.type }}</td>
				<td>{{ file.0.size }}</td>
				<td></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

</div>	
{% endblock content %}