{% load static %}
{% load account %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
        

    </head>
    <body>

        {% include 'navbar.html' %}
        <div class="container" style="margin-top: 2em">
            {% block content %}
            {% endblock content %}
        </div>
       
        {% block javascript %}{% endblock %}
        <script src="{% static 'js/scripts.js' %}"></script>

    </body>
</html>
