{% extends 'base.html' %}

{% block content %}
	<div class="row">
		<div class="storage-header col-lg-12">
			<h5>{{ current_dir }}</h5>
		</div>
		<div class="storage-body col-lg-10 col-lg-offset-2">
			{% for file in files %}
				{% if file.is_dir %}
					<div class="storage-element">
						<a href="{% url 'get_dir_content' %}?dest={{ file.path }}">{{ file.name }}</a>
					</div>
				{% else %}
					<div class="storage-element">{{ file.name }}</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>

{% endblock %}