{% load account %}
<!-- Static navbar -->
<nav class="navbar navbar-default bg-default" style="margin-bottom: 0" navbar-main">
	<div class="container">
		<div class="navbar-header">
		  	<a class="navbar-brand" href="/">Private cloud</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
		  	<ul class="nav navbar-nav">
				<li class="nav-elem"><a href="{% url 'storage:index' %}">Storage</a></li>
                <li class="nav-elem"><a href="{% url 'task:index' %}">Task</a></li>
                <li class="nav-elem"><a href="{% url 'trash:index' %}">Trash</a></li>
            </ul>
		  	<ul class="nav navbar-nav navbar-right">
		  		<li class="nav-elem dropdown">
		  			<a class="dropdown-toggle" data-toggle="dropdown" href="" aria-expanded="false">
	                    {% if user.is_active %}
	                        {% user_display user %}
	                    {% else %}
	                        Guest
	                    {% endif %}
	                    <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                    {% if user.is_active %}
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-user"></span>
                                <span class="glyphicon-class">
                                    Show Profile
                                </span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'account_logout' %}">
                                <span class="glyphicon glyphicon-off"></span>
                                <span class="glyphicon-class">
                                    Logout
                                </span>
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'account_login' %}">
                                Login
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'account_signup' %}">
                                Sign Up
                            </a>
                        </li>
                    {% endif %}
                	</ul>

		  		</li>
		  	</ul>
		</div>

	</div>
</nav>
