{% extends 'base.html' %}
{% block content %}

<div class="row">
	<div class="col-lg-12">
		<h2>Trashes</h2>
	</div>
	
	<div class="container">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>Trash Name</th>
				</tr>
			</thead>
			<tbody>
			{% for trash in trashes %}
				<tr>
					<td>{{ trash.pk }}</td>
					<td><a href="{% url 'trash:show' trash.pk %}" class="btn">{{ trash.storage.name }}</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	
	</div>	
</div>

{% endblock content %}