{% extends 'base.html' %}
{% block content %}
<div class="container">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Item Name</th>
				<th>Type</th>
				<th>Size</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
		{% for file in files %}
			<tr>
				<td>{{ file.name  }}</td>
				<td>{{ file.type }}</td>
				<td>{{ file.size }}</td>
				<td></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

</div>	
{% endblock content %}